* {
  box-sizing: border-box;
}

body {
  background: #612385;
}

/* ---Title Block--- */
.intro {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -8px;
  margin-bottom: 0px;
  margin-right: -8px;
  margin-left: -8px;
  text-align: left;
  min-width: 100%;
  height: 400px;
  padding: 10px auto;
  border: 1px solid gray;
  overflow-y: hidden;
  background-image: linear-gradient(to top right, #b9b1e2, white);
}

.intro img {
  height: auto;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
  margin: 15px 15px;
  box-shadow: 0 0 5px 1.5px #3f565a;
}

.app-desc {
  margin-left: 10px;
  padding: 10px 10px;
  font-family: Arial, serif;
  color: black;
}

.app-desc h1 {
  font-size: 35px;
  font-weight: bold;
  color: #612385;
  margin-bottom: 25px;
}

.app-desc h2 {
  font-size: 24px;
  font-weight: 100;
  margin: 5px;
  margin-right: 20%;
}

/* ---App Menus Block--- */
.about-app {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  border: 1px solid #612385;
  margin: 0px -8px;
  padding: 15px 0px;
  background: #612385;
  min-width: 100%;
  font-family: Arial, serif;
  font-size: 15px;
}

.about-app img {
  height: auto;
  width: 100%;
  margin: 10px 10px;
  min-width: 200px;
  min-height: auto;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 5px 1.5px #3f565a;
}

.section {
  display: inline-flex;
  justfiy-content: space-between;
  align-content: space-between;
  margin: 10px 10px;
  padding: 0;
  border: 2px solid black;
  background-image: linear-gradient(to top right, #e1dfe2, white);
  overflow: hidden;
}

.section h2 {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.main-im {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  border: 1px solid #612385;
  margin: 0px -8px;
  background-color: white;
  min-width: 100%;
  font-family: Arial, serif;
  font-size: 15px;
  height: 620px;
  padding: 0;

}
.main-im img {
  margin: 20px 10px;
  height: autopx;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 0 5px 1.5px #3f565a;
}
