* {
  box-sizing: border-box;
}

.titleblock {
  text-align: center;
  font-size: 55px;
  height: 200px;
  margin: 0;
  padding: 0;
  background: gray;
}

.introduction {
  text-align: center;
  margin: 0;
  padding: 0;
  background: teal;
}

h2 {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  text-align: center;
}
