* {
  box-sizing: border-box;
}

.skill-table {
  display: inline-block;
}

.title-info {
  display: inline-block;
  border: 3px solid black;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 55px;
}

img {
  max-wdith: 100%;
  height: auto;
}

.introduction {
  text-align: center;
  margin: 0;
  padding: 0;
  background: teal;
}

.titleblock {
  background-color: #4D00FF;
  padding: 50px 0;
  margin-top: 77px;
  text-align: center;
  
}

.skills {
  text-align: center;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  text-align: center;
  font-weight: 750;
  width: 100%;
  top: 0;

}

.header li {
  display: inline-block;
  font-family: Arial, sans-serif;
}

.header a {
  display: block;
  padding: 30px 20px;
}

.projects {
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  text-align: center;
}
