* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

/* ---Fixed Site Header--- */
.site-header {
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica, serif;
  text-decoration: none;
  background-color: white;
  top: 0;
  width: 100%;
  height: 45px;
  margin: auto -8px;
  border: 1px solid grey;
}

.site-header h2:hover{
  color: #008d94;
  background-color: #ecf3f3;
}

.title h2 {
  display: inline-flex;
  justify-content: flex-start;
  padding: 10px 10px;
  font-size: 20px;
  color: black;
  background-color: white;
  // border: 3px solid black;
}

.page-sections h2 {
  display: inline-flex;
  justify-content: flex-start;
  // border: 3px solid black;
  padding: 13px 15px;
  font-size: 14px;
  color: black;
  background-color: white;
  
}

/* ---Title Block--- */
.title-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 0px;
  margin-right: -8px;
  margin-left: -8px;
  text-align: left;
  min-width: 100%;
  height: 290px;
  padding: 10px auto;
  border: 1px solid gray;
  background-image: linear-gradient(to top right, #b8dee5, white);
}

.name-title 
{
/*   border: 3px solid red; */
  padding: 0px 0px;
  margin: 15px 0px;
  height: 60px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.name-title h1, .name-title h2{
  // border: 3px solid black;
  text-align: center;
  margin: 0px 0px;
  padding: 0px 5px;
  font-family: Arial, serif;
}

.name-title h2 {
  font-size: 15px;
  padding: 0;
  margin: 0;
  color: #3f565a;
}

.profile-img {
  display: fixed;
  width: 150px;
  height: auto;
  float: left;
}

.circle-border {
  display: flex;
  width: 130px;
  height: 130px;
  min-width: 130px;
  min-height: 130px;
  border: 5px solid white;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 15px;
  align-items: center;
  box-shadow: 0 0 5px 1.5px #3f565a;
}

.contact {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
/*   border: 3px solid black; */
  width: 170px;
  height: 50px;
  padding: 0px 10px;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: Arial, serif;
}

.app1 {
  background-size:contain;
  width: 30px;
  height: 30px;
  background-image: url('images/linkedin-logo.png')
}

.app1:hover {
  background-image: url("images/linkedin-logo - Copy.png")
}

.app2 {
  background-size:contain;
  width: 30px;
  height: 30px;
  background-image: url('images/email-logo.png')
}

.app2:hover {
  background-image: url("images/email-logo - Copy.png")
}

/* ---About Me Block--- */
.introduction {
  text-align: center;
  border: 1px solid gray;
  margin: -1px -8px;
  padding: 15px 10px;
  background: white;
  min-width: 100%;
  font-family: Arial, serif;
  font-size: 15px;
}

/* ---Projects Block--- */
.projects {
  text-align: center;
  margin: -1px -8px;;
  padding: 0;
  height: 800px;
  min-width: 100%;
  background-image: linear-gradient(to top right, #b8dee5, white);
  border: 1px solid gray;
  font-family: Arial, serif;
}

.filterplot {
  display: flex;
  margin-top: 30px;
  border: 3px solid black;
  padding: 20px 5%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.app-capture img {
  height: auto;
  width: 100%;
  min-width: 200px;
  max-width: 1000px;
  border: 1px solid black;
}

.filterplot-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: 0;
  margin-left: 2%;
  padding: 0;
  // border: 2px solid red;
}

.filterplot-txt h1 {
  // border: 2px solid black;
  text-align: center;
  color: #064d51;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.filterplot-txt p {
  // border: 2px solid black;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-size: 15px;
}

.filterplot-txt img {
  height: auto;
  margin: 0;
  max-width: 100px;
}

.filterplot-txt h2 {
  margin: 0;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 200;
  color: white;
  background-color: #0c959d;
  box-shadow: 0 0 5px 1.5px #4a4a4a;
}

.filterplot-txt h2:hover {
  background-color: #086468;
}
